/* .pagination{border:1px solid #e1e1e1; width:220px; flex-wrap: nowrap; justify-content: space-between;}
.pagination li{border-right:1px solid #e1e1e1;}
.pagination li:last-child{border-right:0;}
.pagination li  a{display: block; padding:5px; text-align: center} */


#page-numbers {
  list-style: none;
  display: flex;
}

#page-numbers > li {
  margin-right: 0.3em;
  color: blue;
  user-select: none;
  cursor: pointer;
}

.pagination{border:1px solid #e1e1e1; width:220px; flex-wrap: nowrap; justify-content: space-between;}
.pagination li{border-right:1px solid #e1e1e1;}
.pagination li:last-child{border-right:0;}
.pagination li a{display: block; padding:5px; text-align: center}

.btn {
border: none;
outline: none;
padding: 12px 16px;
background-color: #f1f1f1;
cursor: pointer;
}

.btn:hover {
background-color: #ddd;
}

.btn.active {
background-color: #666;
color: white;
}

.mail-cards.listview .card .card-header{border:0 !important}
.mail-cards.listview .star-ml{position: relative;display: block;text-align: right;top:0}


.pagination{margin: 0 auto;}
.pagination li {
border-right: 1px solid #e1e1e1;
display: block;
width: 100%;
}
.pagination li.active a{
background: #007bff;color:#fff;
}


.subscription-box ul{list-style: none;padding: 0;font-size:14px;margin: 15px auto;}
.subscription-box ul li:before{content: "\f00c";font-family: FontAwesome;margin-right: 10px}
.subscription-box ul li{padding: 2px 0}
.subscription-box h3{color:#fff;background: #858585;font-size:20px;font-weight: bold;padding: 6px 0}
.subscription-box h5{font-weight: bold;margin: 15px 0;font-size:25px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;max-height: 32px;}
.subscription-box .card-body.active h3{background: #007bff;}
.subscription-box .card-body{cursor: pointer;}
.payment-section ul{list-style: none;padding: 0}
.payment-section p,.payment-section b,.payment-section span{font-size:14px;font-weight: normal;}
.payment-section span{color:#878585}



.top-star-row h1{font-size: 30px;}
.filter-bar .input-box{background: #f2f1f1;padding: 0;height: 46px;overflow: visible !important;box-shadow: none;}
.filter-bar .input-box select{background: none;border:0;height:46px !important;font-size: 14px;
-webkit-appearance: none;-moz-appearance:none;appearance:none;background-image: url('../assets/images/down.png');background-size: 46px;background-size: 46px;
background-position: right center;background-repeat: no-repeat;}
.filter-bar .input-box input{padding: 0 15px;border: 0;background: none;height: 46px;font-size: 14px;}
.filter-bar .right-btn{font-size: 15px;color:#007bff;line-height: 46px;padding: 0;margin-right: 15px}
.filter-bar .rdr-DateRange{position: absolute;z-index: 999;}
.filter-bar .rdr-DateRange .rdr-Calendar{background: #f2f1f1 !important}

h2.title{font-size: 20px;margin-bottom: 20px}

.top-statics ul li{width:48% !important;padding: 0 !important;text-align: left;border:1px solid #ddd;padding: 15px !important;margin-bottom: 5px;height:100px;height: 105px;
margin: 7px 0;display: flex !important;align-items: center;background-image: url('../assets/images/email-bg.png');background-size: cover;}

.top-statics ul li p{font-size: 15px !important;margin: 0;width:50%}
.top-statics ul li strong{font-size: 40px !important;margin: 0;width:50%;color:#007bff;text-align: center}


.new-mail-cards h2 a{color: #000;font-weight: 600;font-size: 16px;}
.new-mail-cards .card p{margin-bottom: 0 !important;margin-top: 2px}
.new-mail-cards .card-footer{font-size: 14px;}
.mid-body{
min-height: 550px;
display: flex;
align-items: center;
justify-content: center;
}
.div-prt{}
.div-prt h4 {
text-transform: uppercase;
font-weight: 400;
color: #868686;
text-shadow: 4px 5px 1px #eae8e8;
font-size: 28px !important;
}
.custom-btn {
background-color: #007bff;
color: white;
border-radius: 0 0 0 0 !important;
padding: 8px 30px !important;
margin: 10px 0;
/* box-shadow: inset 0px 0px 6px 3px #88aae6, 0 0 0px 1px hsl(218, 46%, 14%); */
transition: all 0.4s linear;
-webkit-transition: all 0.4s linear; 
-moz-transition: all 0.4s linear; 
-ms-transition: all 0.4s linear; 
}
.custom-btn:hover{
box-shadow: none !important;
background-color:hsl(220, 86%, 28%);
color: #ffffff;
}

.heading-font{font-size:30px !important}
.btsp-dropdown a.dropdown-toggle{font-size: 14px;line-height: 46px;text-align: left;padding: 0 15px;display: flex;justify-content: space-between;align-items: center;}
.btsp-dropdown a.dropdown-toggle::after{border-top: 0.5em solid;border-right: 0.5em solid transparent;border-bottom: 0;border-left: 0.5em solid transparent;color:#007bff;}

.all-website-list .custom-h{
    /* box-shadow:0px 1px 2px 1px #ddd;  */
    border: 1px solid #ddd;
    margin-top: 15px}
.all-website-list .custom-h h5{font-size: 17px;font-weight: 700;margin-bottom: 3px;}
.all-website-list .custom-h p{font-size: 14px;font-weight: 400;margin-bottom: 3px;color:#007bff;text-decoration: underline}
.all-website-list .custom-h span{font-size: 14px;font-weight: 400;margin-bottom: 0;color:#007bff;color:#666}
.all-website-list .badge{box-shadow: none;border: 0;font-weight: 500;font-size: 14px;padding: 8px;margin: 5px}

.mail-details-head h4{font-size: 24px;font-weight: 700;margin: 0}
.mail-details-head h4 .badge{margin: 0 0 0 10px;font-size: 15px;background: #fff;color: #007bff;border: 1px solid #007bff;}
.mail-details-head p{font-size: 16px;font-weight: 400;margin: 8px 0 0;color: #77787a;}

.capture-font h4,.capture-font h2{font-size: 14px;margin: 0;margin: 0 5px}

.no-email{text-align: center;padding: 30px;border: 1px solid #ddd;background: #f8f8f8;margin-bottom: 30px;}
.no-email p{font-size: 14px;color: #747474;font-weight: 400;margin-bottom: 5px;}
.no-email h2{font-size: 20px !important;}


.copy-to-clipboard,.copyed-to-clipboard{border: 1px solid #b4b2b2;background: #fff;border-radius: 3px;font-size: 13px;padding: 0 10px;height: 26px;cursor: pointer;margin: 2px 4px 2px 0;}
.copyed-to-clipboard{background: #007bff;color:#fff;border:1px solid #007bff;}
.copy-box{width:100%;margin-top: 10px;}

.list-grid{display: flex;justify-content: flex-end}
.list-grid button{padding: 2px 10px;font-size:14px;border-radius:0;outline: none;}
.list-grid button.active{background:#007bff }

.navbar.navbar-expand-lg.shadow-sm{z-index: 1}
.website-edit-header{display: block;margin: 0 auto;text-align: center;font-size: 28px;padding: 30px 0 15px;border-bottom: 1px solid #ddd;}
.logincontainer.with-social.website-edit-form {border-color:#f1efef}

.logincontainer.website-edit-form .btn{border-radius: 4px;font-size: 16px;padding: 5px;}
.logincontainer.website-edit-form .form-group label{color: #313030}

.btn.focus, .btn:focus,a:focus{outline: none !important;box-shadow: none !important;}

.package-info-box p{font-size:14px;margin-bottom: 0;display: block;width:calc(100% - 180px);float:left;}
.package-info-box p b{font-size:22px}
.package-info-box p strong{font-size:18px}
.package-info-box p a{color:#007bff !important;font-size:18px;font-weight: 700}
.package-info-box ul li{font-size:13px;color:#313030;border-bottom:1px dotted #ddd;overflow: hidden;padding: 8px 0}
.package-info-box p:first-child{width:180px}
.package-info-box p span{display: block;color:#666;margin-bottom: 10px}
.receipts-table{text-align: center;font-size: 14px;}


.mail-details-header{border-bottom:1px solid #ddd}
.mail-details-header h2{font-size:28px;}
.mail-details-header p{font-size: 14px;}

.cust-tab .nav-tabs .nav-item{margin-bottom:-2px;cursor: pointer}
.cust-tab .nav-tabs .nav-link{border:0;}
.cust-tab .nav-tabs .nav-link.active{border-bottom:2px solid #007bff}
.cust-tab .nav-tabs {border-bottom: 2px solid #dee2e6;}

.alert-warning{font-size:14px;text-align: center}

.billing-success{width:100%;height: 500px;}

/********************************************************/

div.ReactTags__suggestions {
    position: absolute;
}
div.ReactTags__suggestions ul {
    list-style-type: none;
    /* box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important; */
    background: white;
    width: 400px;
}
div.ReactTags__suggestions li {
    border-bottom: 1px solid #ddd;
    padding: 10px 10px;
    margin: 0;
    width:100%
}
div.ReactTags__suggestions li mark {
    text-decoration: underline;
    background: none;
    font-weight: 400;
    width:100%
}
div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
    background: #fff;
    cursor: pointer;
    font-size:14px;
    width:100%
}

